.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.form-group {
  width: 250px;
  display: inline-block;
}

#addQues {
	margin: auto;
	padding: 5px;
	display: inline-block;
	border: 1px solid #005;
	border-radius: 4px
}
.removeQues {
	margin: auto;
	padding: 5px;
	display: inline-block;
	border: 1px solid #005;
	border-radius: 4px
}