<div class="container">
  <h1>Survey Gorilla Sinatra</h1>
  <p>Hello, stranger!</p>

  <div class='form-group'>
  <form role='form' action='/sign_in' method='post'>
  	<input type='text' placeholder='Email' name='email'>
  	<input type='text' placeholder='Password' name='password'>
  	<input type='submit' value='Sign In'>
  </form>
  </div>

  <div class='form-group'>
  <form role='form' action='/register' method='post'>
    <input type='text' placeholder='Name' name='name'>
  	<input type='text' placeholder='Email' name='email'>
  	<input type='text' placeholder='Password' name='password'>
  	<input type='submit' value='Register'>
  </form>
  </div>

</div>